/* You can add global styles to this file, and also import other style files */

/* Remove default margin and padding to fix white border */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
}
